@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --primary-color: #F26522;
  --secondary-color: #36393E;
  --tertiary-color: #D5D7D9; /* item title color */
  --quartary-color: #2B2E32; /* editor color */
  --quintary-color: #24272B; /* input color */
  --sextary-color: #95989A; /* item border color */
  --septary-color: #C2C2C2;
  --octary-color: #B3B3B3;
}

.Notes {
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

.Notes_search {
  height: 25%;
  width: 59%;
  border: none;
  border-radius: 20px;
  padding: 3% 0;
  padding-left: 15%;
  color: var(--sextary-color);
}

.Notes_sidebar {
  flex: 3;
  background: var(--secondary-color);
  border-right-color: var(--quartary-color);
  border-right: solid 1px;
  display: flex;
  flex-direction: column;
}

.Notes_content {
  flex: 8;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

.Notes_header {
  display: flex;
  flex-direction: row;
  width: inherit;
  height: 10vh;
  border-bottom: solid 1px var(--sextary-color);
}

.Notes_header.Notes_header--content {
  flex-direction: row-reverse;
  align-items: center;
}

.Notes_header.Notes_header--aside {
  display: flex;
  flex-direction: row;
  height: 10vh;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px var(--sextary-color);
}

.Notes_header--content .Notes_icon {
  width: 3%;
  margin-right: 1%;
}

.Notes_icon {
  fill: var(--primary-color);
  height: 22px;
}

.Notes_icon--add-icon {
  fill: var(--primary-color);
  margin-right: 4.2%;
}

.Notes_icon.Notes_icon--hoverable {
  transition: fill 0.1s ease;
}

.Notes_icon.Notes_icon--hoverable:hover {
  fill: #fff;
  cursor: pointer;
}